/*player*/
#jp_container{
  background-color: #f7f7f9;
  border:1px solid #e1e1e8;
  width: auto;
  padding: 25px;  
}

.jp-volume-bar{
  width: 200px;
  height: 10px;
  background-color: #CCD1D1;
  cursor: pointer;
  margin-top:-5px;
}

.jp-volume-bar-value{  
  background-color: #85C1E9;
  height: 8px;
  margin: 1px;  
}

.jp-controls, .jp-mute-control, .jp-volume-control, .jp-volume-bar{
  display: inline-block;
  vertical-align: middle;
}

/*list*/
.channel-play{  
  color: #fff;
  font-weight: bold;
  padding: 8px;
}

.channel-play.def{
background-color: #519548;
}

.channel-play.playing{
  background-color: #F44336;
}

.channel-img-holder{  
  width: 110px;
  height: 110px;
}

.channel-img{
  width: 100%;
  height: 100%;
}

.channel{
  height: 230px;
  width: 110px;
  float: left;
  margin: 5px;
  background-color: #f7f7f9;
  border:1px solid #e1e1e8;
  text-align: center;
}

.channel-description{
  width: 110px;
  height: auto;
}

.channel-country{
  font-weight: bold;
}

.channel-title, .channel-controls, .channel-country{
  float: left;
  width: 100%;
}

.channel-controls{
  height: 35px;
  margin-top: 5px;
}

.channel-country span{
  font-weight: normal;
  font-style: italic;
  font-size: 10px;
}

.dirble-col.col-one{
  width: 30%;
}

.dirble-col.col-two{
  width: 30%;
  margin-left: 4%;
}

.dirble-col{
  display: inline-block;
  vertical-align: top;
}

#dirble-api-data{
  margin-top: 20px;
}

/*images*/
.jp-play{
  background: url('play.png') no-repeat scroll 0 0 transparent;  
}

.jp-pause{
  background: url('pause.png') no-repeat scroll 0 0 transparent; 
  width: 28px;
  height: 28px;
  background-size: 28px 28px;
  border: none;
  cursor: pointer;
}

.jp-mute{
  background: url('mute.png') no-repeat scroll 0 0 transparent;   
}

.jp-unmute{
  background: url('unmute.png') no-repeat scroll 0 0 transparent;  
}

.jp-volume-max{
  background: url('vup.png') no-repeat scroll 0 0 transparent;  
}

.jp-play, .jp-mute, .jp-unmute, .jp-volume-max{
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  border: none;
  cursor: pointer;
}

.jp-play:focus, .jp-mute:focus, .jp-unmute:focus, .jp-volume-max:focus, .jp-pause:focus{
 outline: 0;
}